body{
    background-color: black;
    color: white;
    margin: 5%;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

#sectionBtnBottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#sectionBtn {
    display: flex;
    justify-content: center;
}

input[type="button"]{
    height: 50px;
    background-color: red;
    border: red;
    font-size: x-large;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

#msgError {
    background-color: red;
    margin: 2%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
}

#msgCorrecto {
    background-color: rgb(0, 255, 30);
    margin: 2%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
}

#respuesta {
    width: 100%;
    font-size: 25px;
}

.fondoMuelle {
    background-image: url("images/fondo.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondoError {
    background-image: url("images/secret.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}